<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 主页示例模板一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">

    <style>
        .layui-table-cell {
            height: 30px;
            line-height: 30px;
        }

        th .layui-table-cell {
            height: 30px;
            line-height: 30px;
        }
    </style>
    <script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript">
        $(function () {
            function init() {
                var myDate = new Date();
                //获取当前年
                var year = myDate.getFullYear();
                for (var i = year; i >= 1950; i--) {
                    $("#showTime").append('<option value=' + i + '>' + i + '</option>');
                }
            }

            init();
        });
    </script>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">公告标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="noticeHead" placeholder="请输入" autocomplete="off" class="layui-input"
                               id="noticeHead">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">公告内容</label>
                    <div class="layui-input-block">
                        <input type="text" name="noticeContent" placeholder="请输入" autocomplete="off" class="layui-input"
                               id="noticeContent">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">公告发出人</label>
                    <div class="layui-input-block">
                        <input type="text" name="noticeUser" placeholder="请输入" autocomplete="off" class="layui-input"
                               id="noticeUser">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">评论时间</label>
                    <div class="layui-input-block">
                        <select name="showTime" id="showTime">
                            <option value="0">不限</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search"
                            id="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div class="layui-table-box">
                <table id="demo" lay-filter="test">
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        var form = layui.form;
        //第一个实例
        table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , url: '/notice.do?action=queryNoticeList' //数据接口
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , page: true //开启分页
            , height: 700
            , limits: [5, 10, 20, 30, 40, 50]
            , cols: [[ //表头
                {type: 'numbers'}
                , {type: 'checkbox'}
                , {field: 'noticeId', title: 'ID', width: 60, sort: true}
                , {field: 'noticeHead', title: '公告标题', width: 130, sort: true, edit: 'text'}
                , {field: 'noticeContent', title: '公告内容', width: 200, sort: true, edit: 'text'}
                , {field: 'noticeUser', title: '公告发出人', width: 400, edit: 'text'}
                , {
                    field: 'createTime',
                    title: '创建时间',
                    width: 200,
                    sort: true,
                    templet: '<div>{{ layui.laytpl.toDateString(d.createTime) }}</div>'
                }
                , {
                    field: 'updateTime',
                    title: '更新时间',
                    width: 200,
                    sort: true,
                    templet: '<div>{{ layui.laytpl.toDateString(d.updateTime) }}</div>'
                }
                , {fixed: 'right', title: '操作', width: 150, align: 'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
            ]]
            , done: function (res, curr, count) {
                //如果是异步请求数据方式，res即为接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                //console.log(res);
                //得到当前页码
                //console.log("页码:" + curr);
                //得到数据总量
                //console.log("总量:" + count);
            }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据，res为从url中get到的数据
                var result;
                if (this.page.curr) {
                    result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
                }
                else {
                    result = res.data.slice(0, this.limit);
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": result //解析数据列表
                };
            }
        });
        //转换表中的时间显示格式
        layui.use('laytpl', function () {
            var laytpl = layui.laytpl;
            //时间戳的处理
            layui.laytpl.toDateString = function (time, format) {

                var date = new Date(time)
                    , ymd = [
                    this.digit(date.getFullYear(), 4)
                    , this.digit(date.getMonth() + 1)
                    , this.digit(date.getDate())
                ]
                    , hms = [
                    this.digit(date.getHours())
                    , this.digit(date.getMinutes())
                    , this.digit(date.getSeconds())
                ];

                format = format || 'yyyy-MM-dd HH:mm:ss';

                return format.replace(/yyyy/g, ymd[0])
                    .replace(/MM/g, ymd[1])
                    .replace(/dd/g, ymd[2])
                    .replace(/HH/g, hms[0])
                    .replace(/mm/g, hms[1])
                    .replace(/ss/g, hms[2]);

            }
            //数字前置补零
            layui.laytpl.digit = function (num, length, end) {
                var str = '';
                num = String(num);
                length = length || 2;
                for (var i = num.length; i < length; i++) {
                    str += '0';
                }
                return num < Math.pow(10, length) ? str + (num | 0) : num;
            };
        });
        //表格上方头工具栏监听事件
        table.on('toolbar(test)', function (obj) {
            //var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    layer.msg('新增');
                    break;
                case 'delete':
                    var checkStatus = table.checkStatus('demo');
                    var items = checkStatus.data;//选中行数据
                    var idNum = new Array();
                    for (var i = 0; i < items.length; i++) {
                        idNum.push(items[i].noticeId);
                    }
                    //console.log(idNum);//保存的id列表
                    if (items.length != 0) {
                        layer.confirm('您确定要删除所选吗?', {icon: 3, title: '提示'}, function (index) {
                            $.ajax({
                                url: "/notice.do?action=deleteNotice",
                                data: {idNum: idNum},
                                type: "GET",
                                async: false,
                                dataType: "text",//返回的数据类型
                                success: function (data) {
                                    //console.log("data:" + data);//data代表服务器回传的数据
                                    if (data == "true") {
                                        /*layer.open({
                                            title: '提示'
                                            , content: '删除成功！'
                                        });*/
                                        layer.msg('删除成功！');
                                        //刷新表格
                                        table.reload('demo', {
                                            page: {
                                                curr: 1
                                            }
                                        });
                                    } else {
                                        /*layer.open({
                                            title: '提示'
                                            , content: '删除失败！'
                                        });*/
                                        layer.msg('删除失败');
                                    }
                                }
                            });
                            layer.close(index);
                        });
                    } else {
                        /*layer.open({
                            title: '提示'
                            , content: '您没有选择任何行！'
                        });*/
                        layer.msg('您没有选择任何行！');
                    }
                    break;
            }
        });
        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            //删除
            if (layEvent === 'del') {
                var idNum = new Array();
                idNum.push(data.noticeId);
                layer.confirm('您确定要删除这条数据吗?', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        url: "/notice.do?action=deleteNotice",
                        data: {idNum: idNum},
                        type: "GET",
                        async: false,
                        dataType: "text",//返回的数据类型
                        success: function (data) {
                            if (data == "true") {
                                layer.msg('删除成功！');
                                table.reload('demo', {
                                    page: {
                                        curr: 1
                                    }
                                });
                            } else {
                                layer.msg('删除失败');
                            }
                        }
                    });
                    layer.close(index);
                });
            } else if (layEvent === 'edit') { //编辑
                console.log(data)
            }
        });
        //监听单元格编辑
        table.on('edit(test)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field //得到字段
                , recodePage = $(".layui-laypage-skip .layui-input").val();//当前所处的页数
            console.log(recodePage);
            //修改电话字段

            //验证通过，修改数据库
            layer.confirm('您确定修改吗?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: "/notice.do?action=updateNotice",
                    data: {noticeId: data.noticeId, columnName: field, columnValue: value},
                    type: "GET",
                    async: false,
                    dataType: "text",//返回的数据类型
                    success: function (data) {
                        if (data == "true") {
                            layer.msg('更新成功');
                        } else {
                            table.reload('demo', {
                                page: {
                                    curr: recodePage
                                }
                            });
                            layer.msg('更新失败');
                        }
                    }
                });
                layer.close(index);
            });

            //console.log(data);
        });

        $("#search").on("click", function () {
            layer.msg('233');
            //layer.msg($("#movieName").val());
            //layer.msg($("#showTime").val());
            table.reload('demo', {
                url: '/notice.do?action=queryNoticeListLimit' //数据接口
                ,
                where: {
                    noticeHead: $("#noticeHead").val(),
                    noticeContent: $("#noticeContent").val(),
                    noticeUser: $("#noticeUser").val(),
                }
                ,
                page: {
                    curr: 1
                }
            });
        });
    });
</script>
</body>
</html>