<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>设置我的密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15>
                    <input type="hidden" value="id" id="id">
                    <input type="hidden" value="oldPassword0" id="oldPassword0">
                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="oldPassword" name="oldPassword" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="password" name="password" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">4到12个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="repassword" name="repassword" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" id="submitButton">确认修改
                                </button>
                                <!--<button id="btn1">123</button>-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
<script src="/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'set']);

    $(function () {
        //密码格式判断
        function AccountPsw(password) {
            var $zz = /^\w{4,12}$/;
            if ($zz.test(password)==false) {
                return false;
            }
        }

        /*$("#btn1").on("click",function () {
            console.log($("#oldPassword0").val());
        });*/
        function check1(){
            if ($("#oldPassword").val() == "") {
                return false;
            }
            if ($("#oldPassword").val() != $("#oldPassword0").val()) {
                layer.msg("旧密码不对哦！")
                return false;
            }
            return true;
        }
        function check2(){
            var password=$("#password").val();
            if (password == "") {
                return false;
            }
            if(AccountPsw(password)==false){
                console.log(password);
                layer.msg("新密码格式不对哦！")
                return false;
            }
            return true;
        }
        function check3(){
            var password=$("#password").val();
            var repassword=$("#repassword").val();
            if (repassword == "") {
                return false;
            }
            if(password!=repassword){
                layer.msg("两次输入的密码不一样！");
                return false;
            }
            return true;
        }
        $("#oldPassword").on("blur", function () {
            check1();
        });
        $("#password").on("blur", function () {
            check2();
        });
        $("#repassword").on("blur", function () {
            check3();
        });
        $("#submitButton").on("click",function () {
            if(check1()&&check2()&&check3()){
                //layer.msg("通过！");
                $.ajax({
                    url: "/admin.do?action=updatePassword",
                    data: {id:$("#id").val(),columnName:"password",columnValue:$("#repassword").val()},
                    async: false,
                    dataType: "text",
                    success: function (data) {
                        window.parent.layer.closeAll();
                        if (data == "true") {
                            window.parent.layer.msg('更新成功');
                        } else {
                            window.parent.layer.msg('更新失败');
                        }
                    }
                });
            }
            else {
                return false;
            }
        });
    });
</script>
</body>
</html>