<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 网站用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico"/>
    <style>
        .layui-table-cell {
            height: 100px;
            line-height: 100px;
        }

        th .layui-table-cell {
            height: 30px;
            line-height: 30px;
        }

        .layui-table img {
            width: 100%;
            height: 80%;
        }

    </style>
    <script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript">
        $(function () {
            function init() {
                var myDate = new Date();
                //获取当前年
                var year = myDate.getFullYear();
                for (var i = year; i >= 1950; i--) {
                    $("#showTime").append('<option value=' + i + '>' + i + '</option>');
                }
            }

            init();
        });
    </script>
</head>
<body>
<div class="layui-fluid">
    <!--<iframe height=498 width=510 src='//player.bilibili.com/player.html?aid=800740377&bvid=BV1Ey4y1i7jE&cid=268920902&page=1' frameborder=0 allowfullscreen="true"></iframe>-->
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">工具名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="toolName" placeholder="请输入" autocomplete="off" class="layui-input"
                               id="toolName">
                    </div>
                </div>
                <div class="layui-inline" id="kkkk">
                    <label class="layui-form-label">工具类型</label>
                    <div class="layui-input-block">
                        <input type="text" name="type" placeholder="请输入" autocomplete="off" class="layui-input"
                               id="type">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">主演</label>
                    <div class="layui-input-block">
                        <input type="text" name="protagonist" placeholder="请输入" autocomplete="off" class="layui-input"
                               id="protagonist">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">上映年份</label>
                    <div class="layui-input-block">
                        <select name="showTime" id="showTime">
                            <option value="">不限</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search"
                            id="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div class="layui-table-box">
                <table id="demo" lay-filter="test">
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>

<script type="text/html" id="imgTpl">
    <img src=" {{ d.picAddress }} " width="100%">
</script>
<script type="text/html" id="imgTp2">
    <img src=" {{ d.downloadAddr }} " width="100%">
</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    </div>
</script>

<script type="text/html" id="videoAddress">
    <a class="layui-btn layui-btn-xs" lay-event="showVideo">显示视频</a>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <!--<a class="layui-btn layui-btn-xs" lay-event="showMessage">显示</a>-->
</script>


<script>
    function checkSpace() {
        if (event.keyCode == 32) {
            event.returnValue = false;
            layer.msg("不能输入空格哦！")
        }
    }
    layui.use('table', function () {
        var table = layui.table;
        var form = layui.form;
        //第一个实例
        table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , url: '/tool.do?action=queryToolList' //数据接口
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , page: {
                limit: 5,//指定每页显示的条数
                limits: [5, 10, 20, 30, 40, 50, 999]//每页条数
            }
            , height: 600
            //, totalRow: true
            , cols: [[ //表头
                {type: 'numbers'}
                , {type: 'checkbox'}
                , {field: 'toolId', title: 'ID', width: 60, sort: true, unresize: true, totalRowText: '合计'}
                , {field: 'toolName', title: '工具名', width: 130, edit: 'text'}
                , {field: 'type', title: '类型', width: 150, edit: 'text'}
                , {
                    field: 'picAddress',
                    title: '图片预览',
                    width: 100,
                    templet: '#imgTpl',
                    unresize: true,
                    event: 'updateImg'
                }
                /*, {
                    field: 'downloadAddr',
                    title: '大海报预览',
                    width: 130,
                    templet: '#imgTp2',
                    unresize: true,
                    event: 'downloadAddr'
                }*/
                , {field: 'downloadAddr', title: '下载地址', width: 130, edit: 'text'}
                , {field: 'director', title: '导演', width: 130, edit: 'text'}
                , {field: 'protagonist', title: '主演', width: 130, edit: 'text'}
                , {field: 'showTime', title: '上映年份', width: 100, sort: true, edit: 'text'}
                , {field: 'content', title: '工具详细介绍', width: 150, event: 'content'}
                , {field: 'hits', title: '浏览数', width: 100, sort: true, edit: 'text'}
                , {field: 'voteNum', title: '得票数', width: 100, sort: true, edit: 'text'}
                , {field: 'videoAddress', title: '预告片', width: 100, templet: '#videoAddress'}
                , {fixed: 'right', title: '操作', width: 120, align: 'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
            ]]
            , done: function (res, curr, count) {
                //如果是异步请求数据方式，res即为接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                //console.log(res);
                //得到当前页码
                //console.log("页码:" + curr);
                //得到数据总量
                //console.log("总量:" + count);
            }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据，res为从url中get到的数据
                var result;
                //console.log(this);
                //console.log(JSON.stringify(res));
                if (this.page.curr) {
                    result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
                }
                else {
                    result = res.data.slice(0, this.limit);
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": result //解析数据列表
                };
            }
        });

        //表格上方头工具栏监听事件
        table.on('toolbar(test)', function (obj) {
            //var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    //layer.msg('新增');
                    //var dataBak = table.cache.demo;//demo为表格的id
                    //console.log(dataBak);
                    //console.log(dataBak.length);

                    layer.open({
                        type: 2
                        ,
                        title: '新增工具'
                        ,
                        area: ['600px', '700px']
                        ,
                        shade: 0.1
                        ,
                        maxmin: true
                        ,
                        offset: ['5%', '30%']
                        ,
                        content: '/views/addTool.html'
                        ,
                        btn: ['关闭']
                        ,
                        yes: function () {
                            layer.closeAll();
                        }
                    });
                    break;
                case 'delete':
                    var checkStatus = table.checkStatus('demo');
                    var items = checkStatus.data;//选中行数据
                    var idNum = new Array();
                    for (var i = 0; i < items.length; i++) {
                        idNum.push(items[i].toolId);
                    }
                    //console.log(idNum);//保存的id列表
                    if (items.length != 0) {
                        layer.confirm('您确定要删除所选吗?', {icon: 3, title: '提示'}, function (index) {
                            $.ajax({
                                url: "/tool.do?action=deleteTool",
                                data: {idNum: idNum},
                                type: "GET",
                                async: false,
                                dataType: "text",//返回的数据类型
                                success: function (data) {
                                    //console.log("data:" + data);//data代表服务器回传的数据
                                    if (data == "true") {
                                        layer.msg('删除成功！');
                                        //刷新表格
                                        table.reload('demo', {
                                            page: {
                                                curr: 1
                                            }
                                        });
                                    } else {
                                        layer.msg('删除失败');
                                    }
                                }
                            });
                            layer.close(index);
                        });
                    } else {
                        layer.msg('您没有选择任何行！');
                    }
                    break;
            }
        });

        //监听工具条行内元素）
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var recodePage = $(".layui-laypage-skip .layui-input").val();//当前所处的页数
            //删除
            if (layEvent === 'del') {
                var idNum = new Array();
                idNum.push(data.toolId);
                layer.confirm('您确定要删除这条数据吗?', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        url: "/tool.do?action=deleteTool",
                        data: {idNum: idNum},
                        type: "GET",
                        async: false,
                        dataType: "text",//返回的数据类型
                        success: function (data) {
                            if (data == "true") {
                                layer.msg('删除成功！');
                                table.reload('demo', {
                                    page: {
                                        curr: recodePage
                                    }
                                });
                            } else {
                                layer.msg('删除失败');
                            }
                        }
                    });
                    layer.close(index);
                });
            } else if (layEvent === 'showMessage') { //输出一行信息
                console.log(data)
            }
            else if (layEvent === 'showVideo') { //显示视频
                //console.log(data)
                layer.open({
                    type: 1,
                    title: data.toolName + '的预告片',
                    area: ['1100px', '700px'],
                    shade: 0.1,
                    maxmin: true,
                    offset: ['3%', '12%'],
                    content: '<div style="padding: 10px 40px;">                                    <form id="f1" >\n' +
                    '                                        <div>\n' +
                    '                                            <input type="hidden" name="id" value="' + data.toolId + '">\n' +
                    '                                            <input type="hidden" name="tableName" value="tool">\n' +
                    '                                            <input type="hidden" name="columnName" value="picAddress">\n' +
                    '                                                <iframe height=600 width=1000 src="' + data.videoAddress + '" frameborder=0 allowfullscreen="true"></iframe>\n' +
                    '                                            <input onKeypress="checkSpace()" type="text" id="videoAddress0" name="videoAddress0" autocomplete="off" placeholder="请输入地址" class="layui-input"><a class="layui-btn layui-btn-sm" lay-event="editVideo" id="editVideo">修改视频地址</a>\n' +
                    '                                        </div>\n' +
                    '                                    </form></div>'
                    ,
                    btn: ['关闭']
                    ,
                    yes: function () {
                        layer.closeAll();
                    }
                });
                //修改视频地址按钮事件
                $(document).on("click", "#editVideo", function () {
                    if($("#videoAddress0").val()==""){
                        layer.msg('请输入地址！');
                        return;
                    }
                    //console.log($("#videoAddress0").val());
                    layer.confirm("您确定修改吗?",{
                        btn: ['确认', '取消']
                        ,icon: 3,
                        title: '提示'
                    }, function () {
                        // 按钮1的事件
                        $.ajax({
                            url: "/tool.do?action=updateTool",
                            data: {toolId: data.toolId, columnName: "videoAddress", columnValue: $("#videoAddress0").val()},
                            type: "GET",
                            async: false,
                            dataType: "text",//返回的数据类型
                            success: function (data) {
                                if (data == "true") {
                                    layer.msg('更新成功');
                                    layer.closeAll();
                                    table.reload('demo', {
                                        page: {
                                            curr: recodePage
                                        }
                                    });
                                } else {
                                    layer.msg('更新失败');
                                }
                            }
                        });
                    }, function(){
                        // 按钮2的事件
                    });

                });
            }
            else if (layEvent === 'content') {//富文本编辑器
                //layer.msg("213")
                //console.log(data.content);
                layer.open({
                    type: 2
                    ,
                    title: '修改工具详细信息'
                    ,
                    area: ['700px', '500px']
                    ,
                    shade: 0.1
                    ,
                    maxmin: true
                    ,
                    offset: ['5%', '30%']
                    ,
                    content: '/views/editToolContent.html'
                    ,
                    btn: ['关闭']
                    ,
                    success: function (layero, index) {    //成功获得加载changefile.html时，预先加载，将值从父窗口传到 子窗口
                        //console.log(data.content);
                        let body = layer.getChildFrame('body', index);
                        body.find("#content").html(data.content);
                        body.find("#id").val(data.toolId);
                        layui.form.render();
                    },
                    yes: function () {
                        layer.closeAll();
                    }
                });
            }
            //点击上传图片
            else if (layEvent === 'updateImg') {
                //layer.msg(layEvent);

                layer.open({
                    type: 1,
                    title: '修改“' + data.toolName + '”的图片',
                    area: ['500px', '590px'],
                    shade: 0.1,
                    maxmin: true,
                    offset: ['10%', '35%'],
                    content: '<div style="padding: 20px 100px;">                                    <form id="f1">\n' +
                    '                                        <div>\n' +
                    '                                            <input type="hidden" name="id" value="' + data.toolId + '">\n' +
                    '                                            <input type="hidden" name="tableName" value="tool">\n' +
                    '                                            <input type="hidden" name="columnName" value="picAddress">\n' +
                    '                                            <input type="file" name="fileName" accept=".jpg,.png,.jpeg" id="chooseImage"><br>\n' +
                    '                                            <img id="cropedBigImg" style="width: 320px;height: 400px;" src="' + data.picAddress + '"/>\n' +
                    '                                        </div>\n' +
                    '                                        <button type="button" id="chuan">确认上传</button>\n' +
                    '                                    </form></div>'
                    ,
                    btn: ['关闭']
                    ,
                    yes: function () {
                        layer.closeAll();
                    }

                });
                //选择图片按钮事件
                $(document).on("change", "#chooseImage", function () {
                    var filePath = $(this).val(), //获取到input的value，里面是文件的路径
                        fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
                        src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式
                    // 检查是否是图片
                    if (!fileFormat.match(/.png|.jpg|.jpeg/)) {
                        layer.msg('文件格式必须为：png/jpg/jpeg!');
                        //$('#cropedBigImg').attr('src', "/static/images/person_1.jpg");
                        return false;
                    } else {
                        //layer.msg("filePath：" + filePath);
                        $('#cropedBigImg').attr('src', src);
                    }
                });
                //上传图片按钮事件
                $(document).on("click", "#chuan", function () {
                    //var filepath=$("#chooseImage").val();
                    //layer.msg()
                    var formData = new FormData(document.getElementById("f1"));
                    //上传的文件名
                    var fileName = formData.get("fileName").name.split(".")[0];
                    var fileHouZhui = formData.get("fileName").name.split(".")[1];
                    //检查是否上传了文件
                    if (typeof fileName == "undefined" || fileName == null || fileName == "") {
                        layer.msg("请先上传文件！");
                        return false;
                    }
                    //检查文件后缀
                    if (fileHouZhui != "png" && fileHouZhui != "jpg" && fileHouZhui != "jpeg") {
                        layer.msg("请上传正确格式的图片！");
                        return false;
                    }
                    $.ajax({
                        url: "/picUpload",
                        data: formData,
                        processData: false,
                        contentType: false,
                        type: "POST",
                        dataType: "text",
                        success: function (data) {
                            layer.closeAll();
                            //layer.msg(123);
                            if (data == "true") {
                                layer.msg("更新成功！");
                                table.reload('demo', {
                                    page: {
                                        curr: recodePage
                                    }
                                });
                            } else {
                                layer.msg("更新失败！");
                            }
                        }
                    });
                });
            }
            //点击上传大海报
            /*else if (layEvent === 'downloadAddr') {
                //layer.msg(layEvent);

                layer.open({
                    type: 1,
                    title: '修改“' + data.toolName + '”的大海报图片',
                    area: ['1100px', '700px'],
                    shade: 0.1,
                    maxmin: true,
                    offset: ['3%', '12%'],
                    content: '<div style="padding: 20px 100px;">                                    <form id="f1">\n' +
                    '                                        <div>\n' +
                    '                                            <input type="hidden" name="id" value="' + data.toolId + '">\n' +
                    '                                            <input type="hidden" name="tableName" value="tool">\n' +
                    '                                            <input type="hidden" name="columnName" value="downloadAddr">\n' +
                    '                                            <input type="file" name="fileName" accept=".jpg,.png,.jpeg" id="chooseImage"><br>\n' +
                    '                                            <img id="cropedBigImg" style="width: 900px;height: 600px;" src="' + data.downloadAddr + '"/>\n' +
                    '                                        </div>\n' +
                    '                                        <button type="button" id="chuan">确认上传</button>\n' +
                    '                                    </form></div>'
                    ,
                    btn: ['关闭']
                    ,
                    yes: function () {
                        layer.closeAll();
                    }

                });
                //选择图片按钮事件
                $(document).on("change", "#chooseImage", function () {
                    var filePath = $(this).val(), //获取到input的value，里面是文件的路径
                        fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
                        src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式
                    // 检查是否是图片
                    if (!fileFormat.match(/.png|.jpg|.jpeg/)) {
                        layer.msg('文件格式必须为：png/jpg/jpeg!');
                        //$('#cropedBigImg').attr('src', "/static/images/person_1.jpg");
                        return false;
                    } else {
                        //layer.msg("filePath：" + filePath);
                        $('#cropedBigImg').attr('src', src);
                    }
                });
                //上传图片按钮事件
                $(document).on("click", "#chuan", function () {
                    //var filepath=$("#chooseImage").val();
                    //layer.msg()
                    var formData = new FormData(document.getElementById("f1"));
                    //上传的文件名
                    var fileName = formData.get("fileName").name.split(".")[0];
                    var fileHouZhui = formData.get("fileName").name.split(".")[1];
                    //检查是否上传了文件
                    if (typeof fileName == "undefined" || fileName == null || fileName == "") {
                        layer.msg("请先上传文件！");
                        return false;
                    }
                    //检查文件后缀
                    if (fileHouZhui != "png" && fileHouZhui != "jpg" && fileHouZhui != "jpeg") {
                        layer.msg("请上传正确格式的图片！");
                        return false;
                    }
                    $.ajax({
                        url: "/picUpload",
                        data: formData,
                        processData: false,
                        contentType: false,
                        type: "POST",
                        dataType: "text",
                        success: function (data) {
                            layer.closeAll();
                            //layer.msg(123);
                            if (data == "true") {
                                layer.msg("更新成功！");
                                table.reload('demo', {
                                    page: {
                                        curr: recodePage
                                    }
                                });
                            } else {
                                layer.msg("更新失败！");
                            }
                        }
                    });
                });
            }*/
        });

        //监听单元格编辑
        table.on('edit(test)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field //得到字段
                , recodePage = $(".layui-laypage-skip .layui-input").val();//当前所处的页数
            //console.log(recodePage);
            //修改type字段
            if (field == "type") {
                //以&分隔的中文
                var $zz = /^([\u4e00-\u9fa5]+&)*([\u4e00-\u9fa5]+)$/;
                if ($zz.test(value) == false) {
                    layer.msg('工具类型格式不对！(以&分隔的中文！)');
                    table.reload('demo', {
                        page: {
                            curr: recodePage
                        }
                    });
                    return;
                }
            }
            //修改上映年份字段
            if (field == "showTime") {
                //数字
                var $zz = /^[1-9]*[1-9][0-9]*$/;
                //console.log(value);
                //console.log($zz.test(value));
                if ($zz.test(value) == false) {
                    layer.msg('上映年份格式不对！');
                    table.reload('demo', {
                        page: {
                            curr: recodePage
                        }
                    });
                    return;
                }
                var year = new Date().getFullYear();
                if (value > year || value < 1800) {
                    layer.msg('上映年份不对!(1800~' + year + ')');
                    table.reload('demo', {
                        page: {
                            curr: recodePage
                        }
                    });
                    return;
                }
            }
            //修改浏览次数字段
            if (field == "hits") {
                //数字
                var $zz = /^(([1-9]*[1-9][0-9]*)|(0))$/;
                if ($zz.test(value) == false) {
                    layer.msg('浏览数格式不对！');
                    table.reload('demo', {
                        page: {
                            curr: recodePage
                        }
                    });
                    return;
                }
            }
            //验证通过，修改数据库
            layer.confirm("您确定修改吗?",{
                btn: ['确认', '取消']
                ,icon: 3,
                title: '提示'
            }, function () {
                //alert("确认")
                // 按钮1的事件
                $.ajax({
                    url: "/tool.do?action=updateTool",
                    data: {toolId: data.toolId, columnName: field, columnValue: value},
                    type: "GET",
                    async: false,
                    dataType: "text",//返回的数据类型
                    success: function (data) {
                        if (data == "true") {
                            layer.msg('更新成功');
                        } else {
                            table.reload('demo', {
                                page: {
                                    curr: recodePage
                                }
                            });
                            layer.msg('更新失败');
                        }
                    }
                });
            }, function(){
                // 按钮2的事件
                table.reload('demo', {
                    page: {
                        curr: recodePage
                    }
                });
            });
            //console.log(data);
        });
        //条件查询
        $("#search").on("click", function () {
            //layer.msg('233');
            //layer.msg($("#toolName").val());
            //layer.msg($("#showTime").val());
            table.reload('demo', {
                url: '/tool.do?action=queryToolListLimit' //数据接口
                ,
                where: {
                    toolName: $("#toolName").val(),
                    type: $("#type").val(),
                    protagonist: $("#protagonist").val(),
                    showTime: $("#showTime").val()
                }
                ,
                page: {
                    curr: 1
                }
            });
        });
    });
</script>
</body>
</html>
