<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico"/>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div style="margin: 20px 60px;" align="center">
    <h2>当前视频地址错误，找不到了！</h2>
    <h3>请输入以下信息重新更改地址！</h3>
    <form class="layui-form" action="" id="f1">
        <div class="layui-form-item">
            <label class="layui-form-label">工具id</label>
            <div class="layui-input-block">
                <input onKeypress="checkSpace()" type="text" id="toolId" name="toolId" lay-verify="toolId" autocomplete="off"
                       placeholder="请输入id" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预告片地址</label>
            <div class="layui-input-block">
                <input type="text" id="videoAddress" name="videoAddress" lay-verify="videoAddress" autocomplete="off"
                       placeholder="请输入地址" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1" id="submitButton">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="resetButton">重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
<script src="/layuiadmin/layui/layui.js"></script>
<script>
    //不允许输入空格
    function checkSpace() {
        if (event.keyCode == 32) {
            event.returnValue = false;
            layer.msg("不能输入空格哦！")
        }
    }
    var flag=false;
    function find(){
        $.ajax({
            url: "/tool.do?action=queryToolById",
            data: {toolId: $("#toolId").val()},
            type: "GET",
            async: false,
            dataType: "text",//返回的数据类型
            success: function (data) {
                console.log("data:"+data);
                if (data == "true") {
                    flag= true;
                } else {
                    flag= false;
                }
            }
        });
    }
    $(function () {
        $("#toolId").on("blur",function () {
            console.log($("#toolId").val());
            if($("#toolId").val()==""){
                return;
            }
            find();
            if (flag==false){
                layer.msg("这个id对应的工具不存在！")
            }
        });
    });
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        //提交时验证规则
        form.verify({
            toolId: function (value) {
                if (value.length < 1) {
                    return '请输入id！';
                }
                find();
                if(flag==false){
                    return '这个id对应的工具不存在!';
                }
            }
            ,videoAddress: function (value) {
                if (value.length < 1) {
                    return '请输入地址！';
                }
            }
        });
        //验证通过，提交
        form.on('submit(demo1)', function () {
            $.ajax({
                url: "/tool.do?action=updateTool",
                data: {toolId: $("#toolId").val(), columnName: "videoAddress", columnValue: $("#videoAddress").val()},
                type: "GET",
                async: false,
                dataType: "text",//返回的数据类型
                success: function (data) {
                    window.parent.layer.closeAll();
                    window.parent.location.reload();
                    if (data == "true") {
                        layer.msg('更新成功');
                    } else {
                        layer.msg('更新失败');
                    }
                }
            });

        });
    });

</script>
</body>
</html>