<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 主页示例模板一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <style>
        .layui-table-cell {
            height: 100px;
            line-height: 100px;
        }

        th .layui-table-cell {
            height: 30px;
            line-height: 30px;
        }

        .layui-table img {
            width: 100%;
            height: 80%;
        }

    </style>
    <script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#chooseImage').bind('change', function () {
                // alert(123)
                var filePath = $(this).val(), //获取到input的value，里面是文件的路径
                    fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
                    src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式
                // 检查是否是图片
                if (!fileFormat.match(/.png|.jpg|.jpeg/)) {
                    alert('上传错误,文件格式必须为：png/jpg/jpeg');
                    $('#cropedBigImg').attr('src', "/static/images/person_1.jpg");
                    return false;
                } else {
                    //alert("上次成功");
                    //console.log(src);
                    console.log("filePath：" + filePath)
                    $('#cropedBigImg').attr('src', src);
                }
            });
            $('#chuan').bind('click', function () {
                //var filepath=$("#chooseImage").val();
                var formData = new FormData(document.getElementById("f1"));
                $.ajax({
                    url: "/fileUpload",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    dataType: "text",
                    success: function (data) {
                        alert(data);
                    }
                });
            });
        });
    </script>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="userName" placeholder="请输入" autocomplete="off" class="layui-input"
                               id="userName">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="telephone" placeholder="请输入" autocomplete="off" class="layui-input"
                               id="telephone">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">QQ</label>
                    <div class="layui-input-block">
                        <input type="text" name="qq" placeholder="请输入" autocomplete="off" class="layui-input" id="qq">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">email</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input"
                               id="email">
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search"
                            id="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <!--            <div style="padding-bottom: 10px;" class="layui-btn-container">
                            <button class="layui-btn layuiadmin-btn-useradmin" id="deleteButton" lay-event="delete">删除</button>
                            <button class="layui-btn layuiadmin-btn-useradmin" lay-event="add">添加</button>
                            <button class="layui-btn layuiadmin-btn-useradmin" id="msg" lay-event="msg">获取信息</button>
                        </div>-->

            <div class="layui-table-box">
                <table id="demo" lay-filter="test">
                </table>
            </div>
            <!--<img src="../static/images/person_1.jpg" width="100">
            <img src="http://localhost:8765/images\default.png" width="100">
            <br>
            <form id="f1">
                <div>
                    头像上传<span class="red">*</span>
                    <input type="file" name="file" accept=".jpg,.png,.jpeg" id="chooseImage"><br>
                    <img id="cropedBigImg" style="width: 200px;" src="/static/images/person_1.jpg"/>
                </div>
                <button type="button" id="chuan">确认上传</button>
            </form>-->

        </div>
    </div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>

<script type="text/html" id="imgTpl">
    <img src=" {{ d.headPic }} " width="100%">
</script>

<!--<script type="text/html" id="doSomething">
    <button type="button" class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button>
    <button type="button" class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button>
</script>-->

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;
        var form = layui.form;
        //第一个实例
        table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , url: '/user.do?action=queryUserList' //数据接口
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , page: true //开启分页
            , height: 600
            , limits: [5, 10, 20, 30, 40, 50]
            , cols: [[ //表头
                {type: 'numbers'}
                , {type: 'checkbox'}
                , {field: 'userId', title: 'ID', width: 100, sort: true, unresize: true,}
                , {field: 'userName', title: '用户名', width: 120, edit: 'text'}
                , {field: 'userPassword', title: '用户密码', width: 200, edit: 'text'}
                , {field: 'headPic', title: '头像', width: 100, templet: '#imgTpl', unresize: true,}
                , {field: 'sex', title: '性别', width: 200, edit: 'text'}
                , {field: 'telephone', title: '电话', width: 100, edit: 'text'}
                , {field: 'qq', title: 'QQ', width: 150, edit: 'text'}
                , {field: 'email', title: '电子邮箱', width: 120, sort: true, edit: 'text'}
                , {field: 'createTime', title: '评论时间', width: 200, sort: true}
                , {field: 'updateTime', title: '更新时间', width: 200, sort: true}
                , {fixed: 'right', title: '操作', width: 180, align: 'center', toolbar: '#barDemo', unresize: true} //这里的toolbar值是模板元素的选择器
            ]]
            , done: function (res, curr, count) {
                //如果是异步请求数据方式，res即为接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
                //得到当前页码
                console.log("页码:" + curr);
                //得到数据总量
                console.log("总量:" + count);
            }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据，res为从url中get到的数据
                var result;
                //console.log(this);
                //console.log(JSON.stringify(res));
                if (this.page.curr) {
                    result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
                }
                else {
                    result = res.data.slice(0, this.limit);
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": result //解析数据列表
                };
            }

        });

        //表格上方头工具栏监听事件
        table.on('toolbar(test)', function (obj) {
            //var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    layer.msg('新增');
                    break;
                case 'delete':
                    var checkStatus = table.checkStatus('demo');
                    var items = checkStatus.data;//选中行数据
                    var idNum = new Array();
                    for (var i = 0; i < items.length; i++) {
                        idNum.push(items[i].userId);
                    }
                    //console.log(idNum);//保存的id列表
                    if (items.length != 0) {
                        layer.confirm('您确定要删除所选吗?', {icon: 3, title: '提示'}, function (index) {
                            $.ajax({
                                url: "/user.do?action=deleteUser",
                                data: {idNum: idNum},
                                type: "GET",
                                async: false,
                                dataType: "text",//返回的数据类型
                                success: function (data) {
                                    //console.log("data:" + data);//data代表服务器回传的数据
                                    if (data == "true") {
                                        /*layer.open({
                                            title: '提示'
                                            , content: '删除成功！'
                                        });*/
                                        layer.msg('删除成功！');
                                        //刷新表格
                                        table.reload('demo', {
                                            page: {
                                                curr: 1
                                            }
                                        });
                                    } else {
                                        /*layer.open({
                                            title: '提示'
                                            , content: '删除失败！'
                                        });*/
                                        layer.msg('删除失败');
                                    }
                                }
                            });
                            layer.close(index);
                        });
                    } else {
                        /*layer.open({
                            title: '提示'
                            , content: '您没有选择任何行！'
                        });*/
                        layer.msg('您没有选择任何行！');
                    }
                    break;
            }
        });
        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var recodePage = $(".layui-laypage-skip .layui-input").val();//当前所处的页数

            //删除
            if (layEvent === 'del') {
                var idNum = new Array();
                idNum.push(data.userId);
                layer.confirm('您确定要删除这条数据吗?', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        url: "/user.do?action=deleteUser",
                        data: {idNum: idNum},
                        type: "GET",
                        async: false,
                        dataType: "text",//返回的数据类型
                        success: function (data) {
                            if (data == "true") {
                                layer.msg('删除成功！');
                                table.reload('demo', {
                                    page: {
                                        curr: 1
                                    }
                                });
                            } else {
                                layer.msg('删除失败');
                            }
                        }
                    });
                    layer.close(index);
                });
            } else if (layEvent === 'edit') { //编辑
                console.log(data)
            }
        });
        //监听单元格编辑
        table.on('edit(test)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field //得到字段
                , recodePage = $(".layui-laypage-skip .layui-input").val();//当前所处的页数
            console.log(recodePage);
            //修改电话字段
            if (field == "telephone") {
                //以&分隔的中文
                var $zz = /^1[3456789]d{9}$/;
                if ($zz.test(value) == false) {
                    layer.msg('电话的类型格式不对！');
                    table.reload('demo', {
                        page: {
                            curr: recodePage
                        }
                    });
                    return;
                }
            }

            //修改qq字段
            if (field == "qq") {
                //数字
                var $zz = /d{5,11}/;
                if ($zz.test(value) == false) {
                    layer.msg('QQ格式不对！');
                    table.reload('demo', {
                        page: {
                            curr: recodePage
                        }
                    });
                    return;
                }
            }
            //修改email字段
            if (field == "email") {
                //数字
                var $zz = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                if ($zz.test(value) == false) {
                    layer.msg('email格式不对！');
                    table.reload('demo', {
                        page: {
                            curr: recodePage
                        }
                    });
                    return;
                }
            }
            //验证通过，修改数据库
            layer.confirm('您确定修改吗?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: "/user.do?action=updateUser",
                    data: {userId: data.userId, columnName: field, columnValue: value},
                    type: "GET",
                    async: false,
                    dataType: "text",//返回的数据类型
                    success: function (data) {
                        if (data == "true") {
                            layer.msg('更新成功');
                        } else {
                            table.reload('demo', {
                                page: {
                                    curr: recodePage
                                }
                            });
                            layer.msg('更新失败');
                        }
                    }
                });
                layer.close(index);
            })

            //console.log(data);
        });

        $("#search").on("click", function () {
            layer.msg('233');
            //layer.msg($("#movieName").val());
            //layer.msg($("#showTime").val());
            table.reload('demo', {
                url: '/user.do?action=queryUserListLimit' //数据接口
                ,
                where: {
                    userName: $("#userName").val(),
                    telephone: $("#telephone").val(),
                    qq: $("#qq").val(),
                    email: $("#email").val()
                }
                ,
                page: {
                    curr: 1
                }
            });
        });
    });
</script>
</body>
</html>